.textLabel{
  color: #0857a1;
    font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 3px 1px rgba(255, 255, 255, 0.5);
}

.textTable{
  color: #0857a1;
  text-align: center;
   font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}


.textTable2{
  text-align: center;
   font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}