.textLabel{
  color: #0857a1;
    font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 3px 1px rgba(255, 255, 255, 0.5);
}

.textTable{
   color: #0857a1;
  font-size: 20px;
  text-align: center;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}
.iconHover {
  width: 25px;
  height: 25px;
  transition: transform 0.2s ease, filter 0.2s ease;
}

.iconHover:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
  cursor: pointer;
}

.letra {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  margin-left: 40px;
  margin-right: 40px;
  font-family: "Inter", sans-serif;
  color: #0857a1;
  font-weight: 500;
  text-align: center;
}
.modale {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  margin-left: 40px;
  margin-right: 40px;
  font-family: "Inter", sans-serif;
  color: #0857a1;
  font-weight: 300;
  text-align: center;
}

.textTable2{
    text-align: center;
  font-size: 18px;
  padding: 10%;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.temas {
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.212);
    color: #0857a1;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.btnedit {
    background-color: white;
    border-radius: 5px;
    color: #0857a1;
    padding: 5px 15px;
    margin-top: 0px;
    margin-block-start: 10px;
    font-size: 15px;
    border: 5px solid #0857a1;
}

.btnedit:hover {
    background-color: #0857a1;
    border-radius: 10px;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 5px;
    margin-block-start: 10px;
    font-size: 16px;
    border: 5px solid #0857a1;
}

.pagination {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #0056A5;
  color: white;
  padding: 8px 16px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.page-number {
  background-color: white;
  color: #0056A5;
  padding: 4px 12px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.page-number:hover {
  background-color: #cce5ff;
  color: #003f7f;
}
