.wrapper {
  height: 100vh;
  background-color: #f0f2f5; /* fondo gris claro */
}

.mainContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-grow: 1;
  background-color: #f0f2f5;
  min-height: 100vh;
  padding: .5rem;
}
