.textLabel{
  color: #0857a1;
    font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 3px 1px rgba(255, 255, 255, 0.5);
}
.custom-btn-width {
  width: 200px;
}

@media (max-width: 576px) {
  .custom-btn-width {
    width: 100px;
    font-size: 0.75rem;
    padding: 0.4rem;
  }
}

 .btn {
    width: 100% !important;
    max-width: none !important;
  }